@import "tailwindcss";


/* @import 'tailwindcss';
@tailwind base;
@tailwind utilities; */
/* @tailwind utilities; */

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 1.2s ease-in-out forwards;
  }
  .animate-slideUp {
    animation: slideUp 1s ease-in-out;
  }
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}
@keyframes slideUp {
  from { opacity: 0; transform: translateY(30px) }
  to { opacity: 1; transform: translateY(0) }
}
::selection{
    color: orangered;
}